# Configuration pour USB Host
CONFIG_USB_OTG_SUPPORTED=y
CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=256
CONFIG_USB_HOST_HW_BUFFER_BIAS_IN=0

# Configuration des broches USB spécifiques pour l'ESP32-S3-BOX3
CONFIG_ESP_PHY_GPIO_D_PLUS=2
CONFIG_ESP_PHY_GPIO_D_MINUS=6
CONFIG_ESP_PHY_MULTIPLE_PHY_ENABLE=y

# Support du Host USB
CONFIG_TINYUSB_HOST_ENABLED=y
CONFIG_USB_HOST_ENABLED=y

# Fonctionnalités UAC (USB Audio Class)
CONFIG_USB_HOST_UVC=n
CONFIG_USB_HOST_CDC=n
CONFIG_USB_HOST_HID=n
CONFIG_USB_HOST_MSC=n
CONFIG_USB_HOST_UAC=y

# Configuration des tâches et de la mémoire
CONFIG_FREERTOS_HZ=1000
CONFIG_SPIRAM=y
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_USE=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_TYPE_FORCE_PSRAM=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MEMTEST=y
CONFIG_SPIRAM_CACHE_WORKAROUND=y

# Allocations pour l'audio
CONFIG_ESP_SYSTEM_EVENT_TASK_STACK_SIZE=4096
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=3072
